body {
  h1, .markdown-rendered h1, .HyperMD-header-1, .HyperMD-list-line .cm-header-1{
		text-transform: uppercase;
		letter-spacing: 0.5px
	};
h2, .markdown-rendered h2, .HyperMD-header-2, .HyperMD-list-line .cm-header-2{
		text-transform: uppercase;		
		letter-spacing: 0.5px
	};
h4, .markdown-rendered h4, .HyperMD-header-4, .HyperMD-list-line .cm-header-4{
		text-transform: uppercase};
  "ITS@@ITS-Sizes": "sizing-readable",
  "ITS@@radius-s": 4,
  "ITS@@scrollbar-width": 4,
  "ITS@@file-line-width": 1000,
  "ITS@@tab-outline-width": 2,
  "ITS@@status-bar-padding": 4,
  "ITS@@status-bar-gap": 4,
  "ITS@@ribbon-width": 40,
  "ITS@@file-header-font-size": 18,
  "ITS@@file-header-breadcrumb-font-size": 10,
  "ITS@@inline-title-size": 34,
  "ITS@@popover-width": 450,
  "ITS@@modal-width": 50,
  "ITS@@modal-height": 70,
  "ITS@@titlebar-colors": true,
  "ITS@@tab-widths": "none",
  "ITS@@ITS-Sidebar-Styling": "none",
  "ITS@@navbar-bottom": "none",
  "ITS@@file-explorer-flat": true,
  "ITS@@ITS-folder-arrows": "folder-arrow-hidden",
  "ITS@@vault-font": "Rubik",
  "ITS@@hide-scrollbar": true,
  "ITS@@hide-vault-name": true,
  "ITS@@hide-nav-header": true,
  "ITS@@hide-file-explorer-icons": true,
  "ITS@@hide-outline-heading": true,
  "ITS@@hide-tab-outline": true,
  "ITS@@lig": true,
  "ITS@@p-spacing": 0.5,
  "ITS@@default-font": "\"Montserrat\"",
  "ITS@@font-monospace": "'Fira Code Medium', 'Source Code Pro', monospace",
  "ITS@@bold-weight": 600,
  "ITS@@lp-img-float": true,
  "ITS@@clear-heading-4": true,
  "ITS@@clear-heading-5": true,
  "ITS@@clear-heading-6": true,
  "ITS@@ITS-Note-Title-Styling": "note-title-underline",
  "ITS@@Inline-Title-Styling": "inline-title-style-heading",
  "ITS@@Inline-Title-Sizes": "inline-title-large",
  "ITS@@Inline-Title-Positions": "inline-title-position-center",
  "ITS@@font": "\"Montserrat\"",
  "ITS@@header-weight": 800,
  "ITS@@header-border-line-height": 3,
  "ITS@@heading-spacing": 10,
  "ITS@@h1-size": 28,
  "ITS@@h2-size": 22,
  "ITS@@h3-size": 20,
  "ITS@@h4-size": 18,
  "ITS@@h5-size": 16,
  "ITS@@h6-size": 14,
  "ITS@@h1-color@@dark": "#FF6188",
  "ITS@@h2-color@@dark": "#FFD866",
  "ITS@@h3-color@@dark": "#FC9867",
  "ITS@@h4-color@@dark": "#FFD866",
  "ITS@@h4-text-align": "center",
  "ITS@@h5-text-align": "center",
  "ITS@@h6-text-align": "center",
  "ITS@@illusion-h4": true,
  "ITS@@h5-border-line-width": 100,
  "ITS@@hide-header-underline-3": true,
  "ITS@@hide-header-underline-4": true,
  "ITS@@hide-header-underline-6": true,
  "ITS@@h1-border-line-color@@light": "#000000",
  "ITS@@h2-border-line-color@@light": "#000000",
  "ITS@@h3-border-line-color@@light": "#000000",
  "ITS@@h4-border-line-color@@light": "#000000",
  "ITS@@h5-border-line-color@@light": "#000000",
  "ITS@@h6-border-line-color@@light": "#000000",
  "ITS@@link-style": "none",
  "ITS@@link-weight": 500,
  "ITS@@tag-font": "\"Rubik\", \"Inter\"",
  "ITS@@ITS-Table-Alt-Colors": "tables-no-alt-column-background",
  "ITS@@ITS-Table-Styling": "tables-style-wikipedia",
  "ITS@@tables-center": true,
  "ITS@@tables-wide": true,
  "ITS@@tables-no-hover": true,
  "ITS@@table-header-padding-y": 3,
  "ITS@@table-header-padding-x": 1,
  "ITS@@table-header-weight": 900,
  "ITS@@table-cell-padding-y": 1,
  "ITS@@table-cell-padding-x": 4,
  "ITS@@hr-icon-font": "its",
  "ITS@@embed-clean": true,
  "ITS@@embed-dark-background": true,
  "ITS@@embed-mini-headers": true,
  "ITS@@select": "none",
  "ITS@@text@@dark": "#E1E2E3",
  "ITS@@soft-text@@dark": "#C9C9C7",
  "ITS@@text-faint@@dark": "#7C7C7B",
  "ITS@@nav-item-color@@dark": "#FFFFFF",
  "ITS@@note@@dark": "#2D2A2E",
  "ITS@@outer-bar@@dark": "#19181A",
  "ITS@@side-bar@@dark": "#221F22",
  "ITS@@dark-sidebar@@dark": "#000000",
  "ITS@@bttn@@dark": "#403E41",
  "ITS@@sidebar-icon-color-active@@dark": "#FFD866",
  "ITS@@nav-item-background-hover@@dark": "#000000",
  "ITS@@file-icon-color@@dark": "#FFD866",
  "ITS@@folder@@dark": "#FC9867",
  "ITS@@folder@@light": "#000000",
  "ITS@@folder-open@@dark": "#FC9867",
  "ITS@@folder-open@@light": "#888888",
  "ITS@@headers@@dark": "#FFD866",
  "ITS@@headers@@light": "#000000",
  "ITS@@list-marker-color@@dark": "#FF6188",
  "ITS@@list-numbered-color@@dark": "#FC9867",
  "ITS@@embed-bg@@dark": "#221F22",
  "ITS@@blockquote-border-color@@dark": "#403E41",
  "ITS@@code-bg@@dark": "#221F22",
  "ITS@@code-text@@dark": "#FF6188",
  "ITS@@hr@@light": "#000000",
  "ITS@@th@@light": "#000000",
  "ITS@@th-text@@dark": "#FC9867",
  "ITS@@td@@light": "#C8C8C862",
  "ITS@@accent@@dark": "#FFD866",
  "ITS@@accent@@light": "#000000",
  "ITS@@lite-accent@@dark": "#FC9867",
  "ITS@@lite-accent@@light": "#000000",
  "ITS@@accent2@@dark": "#3C5274",
  "ITS@@accent2-lite@@dark": "#78DCE8",
  "ITS@@dark-accent@@dark": "#19181A",
  "ITS@@dark-accent@@light": "#000000",
  "ITS@@deep-dark-accent@@dark": "#1D191C",
  "ITS@@inactive@@dark": "#7C7C7B",
  "ITS@@inactive@@light": "#979797",
  "ITS@@bg@@dark": "#19181A",
  "ITS@@lines@@dark": "#403E41",
  "ITS@@lines@@light": "#000000",
  "ITS@@outline@@light": "#7A7A7A",
  "ITS@@fg@@dark": "#CFD7DD",
  "ITS@@fg@@light": "#A1A1A1",
  "ITS@@theme-rainbow-1@@dark": "#19181A",
  "ITS@@theme-rainbow-1@@light": "#000000",
  "ITS@@theme-rainbow-2@@dark": "#221F22",
  "ITS@@theme-rainbow-2@@light": "#000000",
  "ITS@@theme-rainbow-3@@dark": "#2D2A2E",
  "ITS@@theme-rainbow-3@@light": "#000000",
  "ITS@@theme-rainbow-4@@dark": "#403E41",
  "ITS@@theme-rainbow-4@@light": "#000000",
  "ITS@@theme-rainbow-5@@dark": "#7C7C7B",
  "ITS@@theme-rainbow-6@@dark": "#C9C9C7",
  "ITS@@text-highlight-bg@@dark": "#AB9DF2",
  "ITS@@highlight@@dark": "#354157",
  "ITS@@text-highlight-bg-active@@dark": "#FC9867",
  "ITS@@hvr@@dark": "#FFD86640",
  "ITS@@hvr-active@@dark": "#FFD86680",
  "ITS@@graph-lines@@dark": "#403E41",
  "ITS@@graph-lines@@light": "#D9E1CC",
  "ITS@@graph-node@@dark": "#7C7C7B",
  "ITS@@graph-node@@light": "#F0DDC3",
  "ITS@@graph-focused@@dark": "#FFD866",
  "ITS@@graph-focused@@light": "#B47109"
}
